patterns.py
milestone 1.docx
pdfs/
Text Extraction and Refinement Notebooks/
Comparison/venv/
31.json
48.json
54.json
Answers.docx
Comparison Script Documentation V1.docx
file.py
invalid-application.json 
mistral_output.json
pages to delete from pdf.py
pages to keep in pdf.py
Questions.docx
Technologist - Rules Code - PD Comments.pdf
application.pdf
